.front {
  background: $warm;
  #testimonial .card {
    background: $warm;
  }
  #navbar {
    background: $warm;
  }
}
.steps li {
  width: calc(33.33333% - 0.66667rem);
  background: rgba(237, 235, 234, 0.6);
  padding: 1rem;
  text-align: center;
  color: #6c757d;
  &.active {
    background: #c68d38;
    color: #fff;
  }
}
.steps li .ls-3 {
  letter-spacing: 3px;
}
.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
  transition-delay: 0.25s;
}
.fade-out {
  opacity: 0;
  transform: translateY(10%);
  transition: all 1s;
}
